.mainPageContentContainer {
  display: flex;
  width: 90%;
  height: 100%;
  margin-top: 25px;
  border: 2px solid white;
  justify-content: center;
}

.mainPageContent {
  display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: 1fr;
  align-items: center;
}

.productsContainer1,
.productsContainer2 {
  display: flex;
  width: 100%;
  height: 70%;
  border: 2px solid white;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
