button {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.mainPageContent1 {
  margin-bottom: 20px;
}

.mainPageContent1,
.mainPageContent2 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 20px;
}

.productsContainer1,
.productsContainer2,
.productsContainer3,
.productsContainer4 {
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
}

.productsTopContainer {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: flex-end;
  align-items: center;
}

.productsTop {
  display: Flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.productsTopText {
  display: flex;
  width: 65%;
  height: 100%;
  margin-left: 20px;
  justify-content: flex-start;
  align-items: center;
}

.productArrowsContainer {
  display: flex;
  width: 10%;
  height: 100%;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.arrowLeft,
.arrowRight {
  display: flex;
  height: 50%;
  width: 30%;
  justify-content: center;
  align-items: center;
}

svg {
  width: 22px;
  height: 17px;
}

.arrowLeft,
.arrowRight:hover {
  cursor: pointer;
}

.productDetailsContainer {
  display: Flex;
  width: 95%;
  height: 95%;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.productDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 90%;
}

.productWrapperBtn {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0px;
  background: none;
  border: none;
}

.productDetailsTop {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.productImg {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 151px;
}

.bottomOfProductContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 6px 6px;
}

.productDetailsText {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  color: black;
  font-size: 15px;
  padding-left: 5px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
}

.addToCartBtnContainer {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
  color: black;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.addToCartBtnContainer button {
  display: flex;
  width: 80%;
  height: 40%;
  border: 2px solid black;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
